@keyframes add-to-cart-icon-anim
{
  0% {transform: scale(1);}
  50% {transform: scale(2);}
  100% {transform: scale(3);}
}

@-webkit-keyframes add-to-cart-icon-anim
{
  0% {transform: scale(1);}
  50% {transform: scale(2);}
  100% {transform: scale(3);}
}

@keyframes add-to-cart-anim
{
  0% {transform: rotateY(0);}
  25% {transform: rotateY(-10deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-10deg);}
  100% {transform: rotate(0);}
}

@-webkit-keyframes add-to-cart-anim
{
  0% {transform: rotateY(0);}
  25% {transform: rotateY(-10deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-10deg);}
  100% {transform: rotate(0);}
}

.produit-panier-icon{
  animation: add-to-cart-icon-anim 0.4s linear reverse;
}

.produit-panier{
  animation: add-to-cart-anim 0.5s linear!important;
}

@keyframes add-to-wishlist-anim
{
	from { transform: scale(1.2) }
}

-webkit-@keyframes add-to-wishlist-anim
{
	from { transform: scale(1.2) }
}

.favoris-anim{
	animation: add-to-wishlist-anim 0.3s linear;
}

/* checkout button animation */
@keyframes checkoutBtn-anim
{
	from { margin-left: 18px; opacity: .2 },
	60% { position: initial; margin-left: 10px; opacity: .4 },
	40% { margin-left: 8px; opacity: .6 },
	20% { margin-left: 6px; opacity: .8 },
}

-webkit-@keyframes checkoutBtn-anim
{
	from { margin-left: 18px; opacity: .2 },
	60% { position: initial; margin-left: 10px; opacity: .4 },
	40% { margin-left: 8px; opacity: .6 },
	20% { margin-left: 6px; opacity: .8 },
}

#checkoutBtn:hover > .fa-chevron-circle-right{
	animation: checkoutBtn-anim .4s linear;
}

@keyframes retourpanierBtn-anim
{
	from { margin-right: 18px; opacity: .2 },
	60% { margin-left: 10px; opacity: .4 },
	40% { margin-right: 8px; opacity: .6 },
	20% { margin-right: 6px; opacity: .8 },
}

-webkit-@keyframes retourpanierBtn-anim
{
	from { margin-right: 18px; opacity: .2 },
	60% { margin-right: 10px; opacity: .4 },
	40% { margin-right: 8px; opacity: .6 },
	20% { margin-right: 6px; opacity: .8 },
}

#retourpanierBtn:hover > .fa-chevron-circle-left{
	animation: retourpanierBtn-anim .4s linear;
}

@keyframes showMore {
  from {opacity: 0;}
  to {opacity: 1;}
}

-webkit-@keyframes showMore {
  from {opacity: 0;}
  to {opacity: 1;}
}


@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0); 
  }
  to {
    opacity: 1;
    transform: none;
    transform: translate3d(0, 0px, 0); } 
}

-webkit-@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0); 
  }
  to {
    opacity: 1;
    transform: none;
    transform: translate3d(0, 0px, 0); } 
}

@keyframes loadingVerifAnim
{
	from {
		opacity: .1;
		transform: translate(-25px)
	}
	to{
		opacity: 1;
		transform: none;
		transform: translate(25px);
	}
}

-webkit-@keyframes loadingVerifAnim
{
	from {
		opacity: .1;
		transform: translate(-25px)
	}
	to{
		opacity: 1;
		transform: translate(25px);
	}
}

.laoding-verfi{
    width: 15%;
	animation: loadingVerifAnim .8s linear infinite;
}

@keyframes overlayAjaxErrorAnim
{
	from {
		opacity: .2;
		transform: scale(-.5);
	}
	to{
		opacity: .8;
		transform: scale(1);	
	}
}

#overlayAjaxError{
	animation: overlayAjaxErrorAnim .2s linear;
}


@keyframes changeteleOverlayAnim{
	
	from{
		opacity: .2;
		transform: translate3d(0, -50px, 0);
	}
	to{
		opacity: 1;
	}
	
}

-webkit-@keyframes changeteleOverlayAnim{
	
	from{
		opacity: .2;
		transform: translate3d(0, -50px, 0);
	}
	to{
		opacity: 1;
	}
	
}

.changetele-overlay-content{
	animation: changeteleOverlayAnim .2s linear;
}


@keyframes changeTeleMsgAnim{
    from{
        display: block;
        opacity: .2;
        transform: scale(.2)
    }
    to{
        opacity: 1;
        transform: scale(1)
    }
}

-webkit-@keyframes changeTeleMsgAnim{
    from{
        display: block;
        opacity: .2;
        transform: scale(.2)
    }
    to{
        opacity: 1;
        transform: scale(1)
    }
}

.changeTele-msg {
    animation: changeTeleMsgAnim .2s linear;
    display: none;
    margin-top: 18px;
    font-weight: 500
}





