/* GLOBAL */
:root{
    --dark-red-color: #d10024;
    --blue-color: #308ee0;
    --dark-blue-color: #106390;
    --red-color: #e65251;
    --blue-idx: #00A0B0;
}

.btn-red{
    background-color: var(--red-color)!important; 
    color: #fff!important;
}

.btn-dark-red {
    background-color: var(--dark-red-color)!important;
    color: #fff!important;
}

.btn-blue{
    background-color: var(--blue-color)!important;
    color: #fff!important;
}

.btn-dark-blue {
   background-color: var(--dark-blue-color)!important; 
    color: #fff!important;
}

.blue-idx{
    background-color: var(--blue-idx)!important;
    color: #fff!important;
}

.btn
{
    white-space: normal!important;
    line-height: 18px!important;
	padding: 10px 15px;
    font-weight: 500
}

.btn:hover{
    opacity: .8;
}


.btn-block{
    width:100%!important
}

.form-check.form-check-flat label input:checked + .input-helper:before {
    background-color: var(--second-color)!important;
}

.mini-input{
    width: 30%!important;
    padding: 15px!important;
}

.inline-input{
    display: inline-block!important;
    margin-left: 10px;
}

.form-group label, .input-group label{
    vertical-align: baseline!important;
}

.inline-label{
    display:inline-block!important;
    width: 30%;
}

.mdi-view-dashboard{
  font-size: 20px!important;
}

input[type="radio"]
{
    width:initial!important;
    display: inline;
}

.radio-label{
    margin: 0 20px 0 7px;
}

.prepend-text{
    border-left: 1px solid
}

.append-text, .prepend-text{
    height:40px;
}

.font-large-input{
    font-size: 20px!important;
}

.inline-select {
    display: inline-block!important;
    width: 40%!important;
}

.inline-input-group{
    align-items: flex-end!important;
}

.block-input{
    width:auto!important;
}

td, th{
    text-align: center!important;
}

.mask-column{
    background-color: #f5f5f5;
}

.fa-star{
    color: #d10024!important;
    margin: 0 2px;
}

.small-col td, .small-col th{
    padding: 12px 12px!important;
}

.btn-column-icon{
    padding: 10px!important;
}

.icon-col::before{
    margin-left: 7px !important;
    font-size: 120%
}

/********* SRART media queries CSS ****************/

@media (max-width: 1200px){
    .lft-container{
        padding: 0!important;
    }
}

@media (max-width: 992px) {

    .left-container, .right-container {
        padding: 0;
        border: none;
    }
    .auth.theme-one .auto-form-wrapper {
        box-shadow: none;
        border: none;
        padding: 0;
    }
}

@media (max-width: 768px) {
    
    .auto-form-wrapper{
        box-shadow: none!important;
        border: none!important
    }
    
    .left-container, .right-container {
        width:100%;
        float: initial;
        padding: 0;
        border: none;
    }

    .auth.theme-one .auto-form-wrapper {
        box-shadow: none;
        border: none;
        padding: 0;
    }

    .page-body-wrapper.full-page-wrapper{
        min-height: 0;
    }

    #login-form-group {
        text-align:center;
    }

    .row {
        margin:0!important;
    }

    .content-wrapper {
        padding: 5% 0;

    }
    
    .flex-container{
        display: block!important;
        text-align: center;
    }
    
    .flex-container > .lt-container, .rt-container{
        width: 95%!important;
        display: inline-block;
        margin-bottom: 12%;
    }    
	
	.previous-page-btn{
		padding-top: 6%!important
	}
    
    .div-cnf-dem{
        width: 80%!important;
    }
    
    .md-liv-section, .cnf-dm-section, .panier-section, .verif-info-section{
        padding: 40px!important;
    }
    
    .img-verif-info, .img-cnf-dem{
        width: 33%!important;
    }
    
    .div-cnf-dem{
        width: 80%!important;
        box-shadow: none!important;
        padding: 0!important;
    }
    .div-verif-info{
       width: 80%!important;
        box-shadow: none!important;
        padding: 0!important
    }
    
    .div-cnf-dem{
        width: 100%!important;
        box-shadow: none!important;
        padding: 0!important;
    }
    .div-verif-info{
       width: 100%!important;
        box-shadow: none!important;
        padding: 0!important
    }
    
    .apply-coupon-div{
        text-align: center;
    }
    
    .coupon-div-ctr{
        display: block!important;
    }
    
    .coupon-div-ctr .apply-coupon-div input{
        width: 100%!important;
        display: block!important;
    }
    
    .icons-coupon-div{
        position: initial!important;
        margin: 0 auto;
        width: 40%!important;
    }
    
    .checkout-coupon-div{
        text-align: center;
    }
    
    .coupon-div-ctr > div:not(.icons-coupon-div){
        padding-bottom: 10px;
    }
    
    .apply-coupon-div input{
        margin: 10px 0;
    }
    
    .apply-coupon-div button{
        margin-bottom: 10px;
    }
}


@media (max-width: 480px){
    .product-favori, .product-panier > .product-body > .quantite-ctn{
        right: initial!important;
        bottom: initial!important;
        margin-bottom: 10px;
    }
}

/********* END media queries CSS ****************/

/*********** START login-register pages CSS ***********/
.left-container {
    width: 50%;
    float: left;
    padding-right: 20px;
    border-right: 2px solid #97ccff;
}

.right-container {
    width: 48%;
    float: right;
}

.text-error{
    color: #e28181!important;
    margin-left: 2%;
    visibility: hidden;
}

.left-container > .form-group {
    margin-bottom: .2%!important;
}
.right-container > .form-group {
    margin-bottom: .5%!important;  
}
.auto-form-wrapper > form > .form-group:nth-child(1), .auto-form-wrapper > form > .form-group:nth-child(2){
   margin-bottom: .5%!important;   
}

.auto-form-wrapper{
    background: #ffffff;
    padding: 40px 40px 10px;
    border-radius: 7%;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px 2px #eee;
}

.input-group > input{
    height: 40px;
}

.form-control:focus {
    border-color:#CCC;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  box-shadow: 0 0 1px 1px #eee
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-check:hover input ~ .checkmark {
  background-color: #eee;
}

.form-check input:checked ~ .checkmark {
  background-color: #1d8ede;
    box-shadow: none;
}

.form-check input:checked ~ .checkmark:after {
  display: block;
}

.form-check .checkmark:after {
    left: 6px;
    top: 3px;
    width: 7px;
    height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[class="form-control"]{
    border: 1px solid #e5e5e5;
      border-right: none;
      border-radius: 6px 0 0 6px;
      padding: 21px;
    border-right: 1px solid #e5e5e5;
}
input[class="form-control"]:focus{
    border-right:1px solid #e5e5e5;
}

span[class="input-group-text"]{
    border-radius: 0 6px 6px 0;
        border-left: none;
        color: #b6b6b6; 
        border-color: #e5e5e5!important
}

.auto-form-wrapper {
  background: #ffffff;
  padding: 30px 30px 10px;
  border-radius: 7%;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px 2px #eee;
}

#fx-firefox-mg{
  margin-top: 25px!important;
}

/*********** END login-register pages CSS ***********/


/*********** START dashboard CSS ***********/
.modal-content{
    background-color:#fff!important;
}

.photo-produit
{
    display:inline;
    height:125px;
    background-size: cover;
    display: inline-block;
    max-height: 100%;
    vertical-align:top;
    margin-bottom: 2%;
    max-width: 48%!important
}

.img-upload:hover{
    opacity: .6;
    box-shadow: 0 0 3px 2px #eee
}

#gnrCdCpn, #gnrCdCpnMdf{
    height: initial!important;
    color: #fff;
    -wbekit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 80%
}

.gnr-cd-cpn:hover{
    opacity: .8
}

.gnr-cd-cpn{
    background: var(--blue-color) !important;
    cursor: pointer
}

/*********** END dashboard CSS ***********/

/*********** START index CSS ***********/
.no-slick-product{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 230px;
}

.msg-vide{
    font-size: 12px;
}

.btn-delete-favori, .btn-delete-panier{
    padding: 0;
    border: none;
    background: transparent;
    background: transparent;
}

.product-favori, .product-panier{
    box-shadow: 0 0 2px 1px #eeee;
    padding: 15px;
    cursor: pointer;
}

.product-favori .product-body,
.product-panier .product-body{
    padding: 0;
    text-align: left;
    position: relative;
	z-index: 0
}

.product-favori .product-body .delete-favori,
.product-panier .product-body .delete-favori{
    position: absolute;
    right: 0;
    top: 0;
}

.product-favori .product-body .heart-icon,
.product-panier .product-body .heart-icon{
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-favori .product-body .produit-description,
.product-panier .product-body .produit-description{
    padding: 7px;
    font-size: 94%;
}

.product-favori .product-body .product-header .produit-image,
.product-panier .product-body .product-header .produit-image {
    width: 80px;
    position: relative;
    height: 100px;
    float: left;
    margin-right: 7%;
}

.product-favori .product-body .product-header .produit-image img,
.product-panier .product-body .product-header .produit-image img{
    position: absolute;
    width: 100%;
}

.product-favori .product-body .delete-favori button .fa-times-circle,
.product-panier .product-body .delete-favori button .fa-times-circle{
    font-size: 140%;
}

.product-favori .product-body .delete-favori button .fa-times-circle:hover,
.product-panier .product-body .delete-favori button .fa-times-circle:hover{
    color: #999;
}

.product-favori .product-body .heart-icon .fa-heart, 
.product-panier .product-body .heart-icon .fa-heart{
    font-size: 110%;
    color: #ff666c;
}

.lft-container{
    padding-right: 50px;
}

.lft-container > .product-container > .product{
    margin-bottom: 18px;
}

.rgt-container{
    box-shadow: 0 0 2px 1px #eee;
    padding: 20px;
    border-radius: 10px
}
.rgt-container .checkout-info{
    text-align: left;
    font-weight: 500;
}

.checkout-info > div:not(.checkout-cnt){
    margin-bottom: 15px;
}
.checkout-info > .total-price-promotion > span, .checkout-info > .subtotal-price > span{ 
    font-size: 120%;
    font-weight: 500;
    color: #9b9797;
    font-family: arial;
}

.price-produit{
    font-size: 120%;
    color: #d2003f;
    font-weight: 500;
}

.checkout-info .total-price, .total-price-promotion, .subtotal-price{
    
}

.pn-titre{
    width: 150px;
    display: inline-block
}

.checkout-cnt{
    text-align: center;
}

.product-panier{
    padding: 38px;
    border-radius: 10px
}

.product-panier .product-body .quantite-ctn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.quantite-ctn > .input-number > input{
    width: 130px;
}


.flex-container > .rt-container:hover, .flex-container > .lt-container:hover{
    box-shadow: 0 0 1px 1px var(--blue-idx);
}

.flex-container > .lt-container, .rt-container{
    width: 40%;
    padding: 20px;
    box-shadow: 0 0 2px 1px #eee;
    border-radius: 10px;
}

.mth-header{
    text-align: center;
    font-size: 125%;
	font-weight: 500
}

.lt-container .mth-container .mth-image{
    text-align: center;
	background-image: url('../img/free.png');
}

.rt-container .mth-container .mth-image{
	text-align: center;
	background-image: url('../img/icon_amana.png');
    background-size: 50%;
}

.mth-btn{
    margin-top: 15px;
    text-align: center;
}

.mth-btn > button{
    padding: 8px 20px;
    border: none;
    font-weight: 500;
}

.mth-image{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    height: 130px;
    margin: 20px 0;
}

.vd-action > button{
    padding: 8px 20px;
    border: none;
    font-weight: 500;
}

input.qty-article[type='number']:disabled{
    background-color: #f2f2f2;
}

.review-rating > i {
    margin: 0 2px;
}

#reviewText{
    resize: none;
}

.submit-success{
    text-align: center;
    padding: 10px;
}

.submit-success-img{
    padding-top: 20px;
}

.submit-success-img > img{
    width: 35%
}

.submit-success-msg > .fa-heart{
    color: var(--dark-red-color);
}

.loading-review-submit{
	text-align: center;
	width: 100%;
}

.loading-review-submit img{
	width: 17%;
}

#gnrCpnCdImg{
    width: 13%;
}

#gnrCdCpn .fa-sync, #gnrCdCpnMdf .fa-sync,{
    margin-left: 5px;
}

#checkoutBtn{
	width: 50%;
}

.etapes-btn .fa-chevron-circle-right{
	font-size: 120%;
	margin-left: 5px;
}

.etapes-btn .fa-chevron-circle-left{
	font-size: 120%;
	margin-right: 5px;
}


.previous-page-btn{
	padding-top: 7%;
}

.coupon-div-ctr{
    align-items: center;
	padding: 40px 8%;
    position: sticky;
	background-color: rgb(249, 249, 249);
	border-top: 1px solid #ddd;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
    display: flex;
    justify-content: space-around;
}


.coupon-cpn-span{
	color: #333;
	margin-right: 10px; 
	font-size: 120%;
	font-weight: 500
}

.checkout-coupon-div{
    margin-right: 8%;
}

.coupon-div-ctr .apply-coupon-div input{
	width: 28%;
	display: inline-block
}

.apply-coupon-div{
 width: 100%
}


.error-date-cpn{
    color: #e66464 !important;
}

.text-error-ctr{
    padding:0;
    text-align:left;
    margin:0;
}

.append-initial-height > span{
    height: auto!important;
}

.header-adm{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    margin-bottom: 20px;
}

#filterArticles{
    text-align: center!important;
}

.page-item:hover{
    background: #fff!important;
    border: none!important;
}

.override-position{
    position: initial!important;
}

.override-margin{
    margin: 0!important;
}

#cpnError{
    display: block
}

.cpn-valide{
    color: #25bd25;
    font-size: 105%;
    font-weight: 500;
}

.cpn-invalide{
    color: #d10024;
    font-size: 105%;
    font-weight: 500;
}

.md-liv-flex-div{
    display:flex;
    justify-content:space-between
}

.div-cnf-dem, .div-verif-info{
    box-shadow: 0 0 2px 1px #eee;
    width: 48%;
    padding: 20px 20px 0;
    margin: 0 auto!important;
    border-radius: 10px;
    font-size: 80%
}

.hdr-verif-info{
    text-align: center;
}

.title-verif-info{
    font-size: 120%;
    font-weight: 500;
}

.astuce-verif-info{
    text-align: center;
    font-weight: 500;
    padding: 0 20px;
}

.body-verif-info input {
    padding: 6px 12px
}

.title-cnf-dem, .title-verif-info{
    font-size: 140%;
    font-weight: 500;
    margin: 10px 0;
}

.action-verif-info{
    margin-top: 10px
}

.img-cnf-dem-ctr, .img-verif-info-ctr{
    margin-top: 18px
}

.body-cnf-dem, .body-verif-info{
    padding: 20px;
    font-size: 125%
}

.img-cnf-dem, .img-verif-info{
    width: 23%;
}

.label-verif-info{
    font-weight: 500
}

.panier-vide-msg{
    font-size: 140%
}

.vd-action{
    padding-top: 15px
}

.vd-img{
    width:17%;
    padding-top:18px
}

.verif-info-panier-details-ctr{
    text-align: left;
    line-height: 220%
}

.verif-info-panier-details{
    font-weight: 400
}

#nbrArticle, #cpnTaux{
    font-size: 120%
}

.erreur-info{
    color: #d22626;
}

.show-more{
    transition: opacity 4s;
    display: none;
}

span.active {
    display: block;
    opacity: 1;
    animation: showMore 1s ease-in-out;

}

.dots{
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 1px 4px 3px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 900;
    color: #333;
}

.dots:hover{
    opacity: .6;
}

#commandeBtn{
    width:100%
}

.icons-coupon-div{
    position: absolute;
    right: 5%;
    width: 7%;
    display: flex
}

.icons-coupon-div .img-amana-coupon{
    width: 85%;
    margin-right: 10px
}

.icons-coupon-div .img-freeship-coupon{
    width: 50%;
}

.ovr-button-styles{
    border: none;
    background: transparent;
    padding: 0;
}

.pan-toggle, .fav-toggle{
    cursor: pointer;
}
