/* GLOBAL */
:root{
    --dark-red-color: #d10024;
    --blue-color: #308ee0;
    --dark-blue-color: #106390;
    --red-color: #e65251;
    --blue-idx: #00A0B0;
    --green-color: #00ce68
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.btn-red{
    background-color: var(--red-color)!important; 
    color: #fff!important;
}

.btn-dark-red {
    background-color: var(--dark-red-color)!important;
    color: #fff!important;
}

.btn-blue{
    background-color: var(--blue-color)!important;
    color: #fff!important;
}

.btn-dark-blue {
   background-color: var(--dark-blue-color)!important; 
    color: #fff!important;
}

.blue-idx{
    background-color: var(--blue-idx)!important;
    color: #fff!important;
}

.btn-green{
    background-color: var(--green-color)!important;
    color: #fff!important;
}

.btn
{
    white-space: normal!important;
    line-height: 18px!important;
	padding: 10px 15px;
    font-weight: 500
}

.btn:hover{
    opacity: .8;
}


.btn-block{
    width:100%!important
}

.form-check.form-check-flat label input:checked + .input-helper:before {
    background-color: var(--second-color)!important;
}

.mini-input{
    width: 30%!important;
    padding: 15px!important;
}

.inline-input{
    display: inline-block!important;
    margin-left: 10px;
}

.form-group label, .input-group label{
    vertical-align: baseline!important;
}

.inline-label{
    display:inline-block!important;
    width: 30%;
}

.mdi-view-dashboard{
  font-size: 20px!important;
}

input[type="radio"]
{
    width:initial!important;
    display: inline;
}

.radio-label{
    margin: 0 20px 0 7px;
}

.prepend-text{
    border-left: 1px solid
}

.append-text, .prepend-text{
    height:40px;
}

.font-large-input{
    font-size: 20px!important;
}

.inline-select {
    display: inline-block!important;
    width: 40%!important;
}

.inline-input-group{
    align-items: flex-end!important;
}

.block-input{
    width:auto!important;
}

td, th{
    text-align: center!important;
}

.mask-column{
    background-color: #f5f5f5;
}

.fa-star{
    color: #d10024!important;
    margin: 0 2px;
}

.small-col td, .small-col th{
    padding: 12px 12px!important;
}

.btn-column-icon{
    padding: 10px!important;
}

.icon-col::before{
    margin-left: 7px !important;
    font-size: 120%
}

/********* SRART media queries CSS ****************/

@media (max-width: 1200px){
    .lft-container{
        padding: 0!important;
    }
}

@media (max-width: 992px) {

    .left-container, .right-container {
        padding: 0;
        border: none;
    }
    .auth.theme-one .auto-form-wrapper {
        box-shadow: none;
        border: none;
        padding: 0;
    }
}

@media (max-width: 768px) {
    
    .auto-form-wrapper{
        box-shadow: none!important;
        border: none!important
    }
    
    .left-container, .right-container {
        width:100%;
        float: initial;
        padding: 0;
        border: none;
    }

    .auth.theme-one .auto-form-wrapper {
        box-shadow: none;
        border: none;
        padding: 0;
    }

    .page-body-wrapper.full-page-wrapper{
        min-height: 0;
    }

    #login-form-group {
        text-align:center;
    }

    .row {
        margin:0!important;
    }

    .content-wrapper {
        padding: 5% 0;

    }
    
    .flex-container{
        display: block!important;
        text-align: center;
    }
    
    .flex-container > .lt-container, .rt-container{
        width: 95%!important;
        display: inline-block;
        margin-bottom: 12%;
    }    
	
	.previous-page-btn{
		padding-top: 6%!important
	}
    
    .div-cnf-dem{
        width: 80%!important;
    }
    
    .md-liv-section, .cnf-dm-section, .panier-section, .verif-info-section{
        padding: 40px!important;
    }
    
    .img-verif-info, .img-cnf-dem{
        width: 25%!important;
    }
    
    .div-cnf-dem{
        width: 80%!important;
        box-shadow: none!important;
        padding: 0!important;
    }
    .div-verif-info{
       width: 80%!important;
        box-shadow: none!important;
        padding: 0!important
    }
    
    .div-cnf-dem{
        width: 100%!important;
        box-shadow: none!important;
        padding: 0!important;
    }
    .div-verif-info{
       width: 100%!important;
        box-shadow: none!important;
        padding: 0!important
    }
    
    .apply-coupon-div{
        text-align: center;
    }
    
    .coupon-div-ctr{
        display: block!important;
    }
    
    .coupon-div-ctr .apply-coupon-div input{
        width: 100%!important;
        display: block!important;
    }
    
    .icons-coupon-div{
        position: initial!important;
        margin: 0 auto;
        width: 40%!important;
    }
    
    .checkout-coupon-div{
        text-align: center;
    }
    
    .coupon-div-ctr > div:not(.icons-coupon-div){
        padding-bottom: 10px;
    }
    
    .apply-coupon-div input{
        margin: 10px 0;
    }
    
    .apply-coupon-div button{
        margin-bottom: 10px;
    }
}


@media (max-width: 480px){
    .product-favori, .product-panier > .product-body > .quantite-ctn{
        right: initial!important;
        bottom: initial!important;
        margin-bottom: 10px;
    }
}

/********* END media queries CSS ****************/

/*********** START login-register pages CSS ***********/
.left-container {
    width: 50%;
    float: left;
    padding-right: 20px;
    border-right: 2px solid #97ccff;
}

.right-container {
    width: 48%;
    float: right;
}

.text-error{
    color: #e28181!important;
    margin-left: 2%;
    visibility: hidden;
}

.left-container > .form-group {
    margin-bottom: .2%!important;
}
.right-container > .form-group {
    margin-bottom: .5%!important;  
}
.auto-form-wrapper > form > .form-group:nth-child(1), .auto-form-wrapper > form > .form-group:nth-child(2){
   margin-bottom: .5%!important;   
}

.auto-form-wrapper{
    background: #ffffff;
    padding: 40px 40px 10px;
    border-radius: 7%;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px 2px #eee;
}

.input-group > input{
    height: 40px;
}

.form-control:focus {
    border-color:#CCC;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  box-shadow: 0 0 1px 1px #eee
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-check:hover input ~ .checkmark {
  background-color: #eee;
}

.form-check input:checked ~ .checkmark {
  background-color: #1d8ede;
    box-shadow: none;
}

.form-check input:checked ~ .checkmark:after {
  display: block;
}

.form-check .checkmark:after {
    left: 6px;
    top: 3px;
    width: 7px;
    height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[class="form-control"]{
    border: 1px solid #e5e5e5;
      border-right: none;
      border-radius: 6px 0 0 6px;
      padding: 21px;
    border-right: 1px solid #e5e5e5;
}
input[class="form-control"]:focus{
    border-right:1px solid #e5e5e5;
}

span[class="input-group-text"]{
    border-radius: 0 6px 6px 0;
        border-left: none;
        color: #b6b6b6; 
        border-color: #e5e5e5!important
}

.auto-form-wrapper {
  background: #ffffff;
  padding: 30px 30px 10px;
  border-radius: 7%;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px 2px #eee;
}

#fx-firefox-mg{
  margin-top: 25px!important;
}

/*********** END login-register pages CSS ***********/


/*********** START dashboard CSS ***********/
.modal-content{
    background-color:#fff!important;
}

.photo-produit
{
    display:inline;
    height:125px;
    background-size: cover;
    display: inline-block;
    max-height: 100%;
    vertical-align:top;
    margin-bottom: 2%;
    max-width: 48%!important;
    cursor: pointer;
}

.selected-image{
    outline: 2px solid #999;
    cursor: auto;
}

.selected-image::after{
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #eebc18;
    position: absolute;
    left: 5px
}

.img-upload:hover{
    opacity: .6;
    box-shadow: 0 0 3px 2px #eee
}

#gnrCdCpn, #gnrCdCpnMdf{
    height: initial!important;
    color: #fff;
    -wbekit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 80%
}

.gnr-cd-cpn:hover{
    opacity: .8
}

.gnr-cd-cpn{
    background: var(--blue-color) !important;
    cursor: pointer
}

/*********** END dashboard CSS ***********/

/*********** START index CSS ***********/
.no-slick-product{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 230px;
}

.msg-vide{
    font-size: 12px;
}

.btn-delete-favori, .btn-delete-panier{
    padding: 0;
    border: none;
    background: transparent;
    background: transparent;
}

.product-favori, .product-panier{
    box-shadow: 0 0 2px 1px #eeee;
    padding: 15px;
    cursor: pointer;
}

.product-favori .product-body,
.product-panier .product-body{
    padding: 0;
    text-align: left;
    position: relative;
	z-index: 0
}

.product-favori .product-body .delete-favori,
.product-panier .product-body .delete-favori{
    position: absolute;
    right: -26px;
    top: -26px;
}

.product-favori .product-body .heart-icon,
.product-panier .product-body .heart-icon{
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-favori .product-body .produit-description,
.product-panier .product-body .produit-description{
    padding: 7px;
    font-size: 94%;
}

.product-favori .product-body .product-header .produit-image,
.product-panier .product-body .product-header .produit-image {
    width: 80px;
    position: relative;
    height: 100px;
    float: left;
    margin-right: 7%;
}

.product-favori .product-body .product-header .produit-image img,
.product-panier .product-body .product-header .produit-image img{
    position: absolute;
    width: 100%;
}

.product-favori .product-body .delete-favori button .fa-times-circle,
.product-panier .product-body .delete-favori button .fa-times-circle{
    font-size: 140%;
}

.product-favori .product-body .delete-favori button .fa-times-circle:hover,
.product-panier .product-body .delete-favori button .fa-times-circle:hover{
    color: #999;
}

.product-favori .product-body .heart-icon .fa-heart, 
.product-panier .product-body .heart-icon .fa-heart{
    font-size: 110%;
    color: #ff666c;
}

.lft-container{
    padding-right: 50px;
}

.lft-container > .product-container > .product{
    margin-bottom: 18px;
}

.rgt-container{
    box-shadow: 0 0 2px 1px #eee;
    padding: 20px;
    border-radius: 10px
}
.rgt-container .checkout-info{
    text-align: left;
    font-weight: 500;
}

.checkout-info > div:not(.checkout-cnt){
    margin-bottom: 15px;
}
.checkout-info > .total-price-promotion > span, .checkout-info > .subtotal-price > span{ 
    font-size: 120%;
    font-weight: 500;
    color: #9b9797;
    font-family: arial;
}

.price-produit{
    font-size: 120%;
    color: #d2003f;
    font-weight: 500;
}

.checkout-info .total-price, .total-price-promotion, .subtotal-price{
    
}

.pn-titre{
    width: 150px;
    display: inline-block
}

.checkout-cnt{
    text-align: center;
}

.product-panier{
    padding: 38px;
    border-radius: 10px
}

.product-panier .product-body .quantite-ctn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.quantite-ctn > .input-number > input{
    width: 130px;
}


.flex-container > .rt-container:hover, .flex-container > .lt-container:hover{
    box-shadow: 0 0 2px 1px #999;
}

.flex-container > .lt-container, .rt-container{
    width: 40%;
    padding: 20px;
    box-shadow: 0 0 2px 1px #eee;
    border-radius: 10px;
}

.mth-header{
    text-align: center;
    font-size: 125%;
	font-weight: 500
}

.lt-container .mth-container .mth-image{
    text-align: center;
	background-image: url('../img/free.png');
}

.rt-container .mth-container .mth-image{
	text-align: center;
	background-image: url('../img/icon_amana.png');
    background-size: 50%;
}

.mth-btn{
    margin-top: 15px;
    text-align: center;
}

.mth-btn > button{
    padding: 8px 20px;
    border: none;
    font-weight: 500;
}

.mth-image{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    height: 130px;
    margin: 20px 0;
}

.vd-action > button{
    padding: 8px 20px;
    border: none;
    font-weight: 500;
}

input.qty-article[type='number']:disabled{
    background-color: #f2f2f2;
}

.review-rating > i {
    margin: 0 2px;
}

#reviewText{
    resize: none;
}

.submit-success{
    text-align: center;
    padding: 10px;
}

.submit-success-img{
    padding-top: 20px;
}

.submit-success-img > img{
    width: 35%
}

.submit-success-msg > .fa-heart{
    color: var(--dark-red-color);
}

.loading-review-submit{
	text-align: center;
	width: 100%;
}

.loading-review-submit img{
	width: 17%;
}

#gnrCpnCdImg{
    width: 13%;
}

#gnrCdCpn .fa-sync, #gnrCdCpnMdf .fa-sync,{
    margin-left: 5px;
}

#checkoutBtn{
	width: 50%;
}

.etapes-btn .fa-chevron-circle-right{
	font-size: 120%;
	margin-left: 5px;
}

.etapes-btn .fa-chevron-circle-left, .etapes-btn .fa-list-alt{
	font-size: 120%;
	margin-right: 5px;
}


.previous-page-btn{
	padding-top: 35px;
}

.coupon-div-ctr{
    align-items: center;
	padding: 40px 8%;
    position: sticky;
	background-color: rgb(249, 249, 249);
	border-top: 1px solid #ddd;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
    display: flex;
    justify-content: space-around;
}


.coupon-cpn-span{
	color: #333;
	margin-right: 10px; 
	font-size: 120%;
	font-weight: 500
}

.checkout-coupon-div{
    margin-right: 8%;
}

.coupon-div-ctr .apply-coupon-div input{
	width: 28%;
	display: inline-block
}

.apply-coupon-div{
 width: 100%
}


.error-date-cpn{
    color: #e66464 !important;
}

.text-error-ctr{
    padding:0;
    text-align:left;
    margin:0;
}

.append-initial-height > span{
    height: auto!important;
}

.header-adm{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    margin-bottom: 20px;
}

#filterArticles{
    text-align: center!important;
}

.page-item:hover{
    background: #fff!important;
    border: none!important;
}

.override-position{
    position: initial!important;
}

.override-margin{
    margin: 0!important;
}

#cpnError{
    display: block
}

.cpn-valide{
    color: #25bd25;
    font-size: 105%;
    font-weight: 500;
}

.cpn-invalide{
    color: #d10024;
    font-size: 105%;
    font-weight: 500;
}

.md-liv-flex-div{
    display:flex;
    justify-content:space-between
}

.div-verif-info-ctr{
	text-align: center
}

.div-cnf-dem, .div-verif-info{
    box-shadow: 0 0 2px 1px #eee;
    width: 48%;
    padding: 20px 10px 0;
    margin: 0 auto!important;
    border-radius: 10px;
    font-size: 95%;
	text-align: left;
    border: 1px solid #eee
}

.div-cnf-dem{
    text-align: center
}

.hdr-verif-info{
    text-align: center;
}

.title-verif-info > h3{
    font-weight: 400;
}

.astuce-verif-info{
    text-align: center;
    font-weight: 500;
    padding: 12px;
    box-shadow: 0 0 1px 1px #e0e0e0;
    -webkit-box-shadow: 0 0 1px 1px #e0e0e0;
    margin-bottom: 18px;
    color: #e67777;
    background-color: #f3ffcb
}

.astuce-verif-info > p > i{
    color: #928484;
    font-size: 110%;
}

.action-verif-info{
    margin-top: 10px
}

.img-cnf-dem-ctr, .img-verif-info-ctr{
    margin-top: 18px
}

.body-cnf-dem, .body-verif-info{
    padding: 20px;
    font-size: 125%
}

.img-cnf-dem, .img-verif-info{
    width: 23%;
}

.label-verif-info{
    font-weight: 500
}

.panier-vide-msg{
    font-size: 140%
}

.vd-action{
    padding-top: 15px
}

.vd-img{
    width:17%;
    padding-top:18px
}

.verif-info-panier-details-ctr{
    text-align: left;
    line-height: 220%;
    border-bottom: 1px solid #eee;
    margin-bottom: 8px
}

.verif-info-panier-details{
    font-weight: 400
}

#nbrArticle, #cpnTaux{
    font-size: 120%
}

.erreur-info{
    color: #d22626;
}

.show-more{
    transition: opacity 4s;
    display: none;
}

span.active {
    display: block;
    opacity: 1;
    animation: showMore 1s ease-in-out;

}

.dots{
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 1px 4px 3px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 900;
    color: #333;
}

.dots:hover{
    opacity: .6;
}

#commandeBtn{
    width:36%;
    display: block;
    margin: 0 auto;
    background: transparent;
    border: 1px solid #999;
    color: #333;
}

#commandeBtn:hover{
    background-color: #15161d;
    color: #fff
}

.icons-coupon-div{
    position: absolute;
    right: 5%;
    width: 7%;
    display: flex
}

.icons-coupon-div .img-amana-coupon{
    width: 85%;
    margin-right: 10px
}

.icons-coupon-div .img-freeship-coupon{
    width: 50%;
}

.ovr-button-styles{
    border: none;
    background: transparent;
    padding: 0;
}

.pan-toggle, .fav-toggle{
    cursor: pointer;
}

.pan-dropdown:before, .fav-dropdown:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #d10024;
    position: relative;
    right: -250px;
    transform: rotate(-90deg);
    top: -19px;
    opacity: .9;

}

.cart-dropdown{
    animation: dropdownAnimation .3s;
    cursor: initial;
}

.cart-btns .dropdown-toggle{
    display: none!important;
}

.input-smp{
    padding: 10px 15px;
    background: #FFF;
    border: 1px solid #E4E7ED;
}

#dt_articles, #dt_articles_comm{
    width: 100%!important;
}

.img-upload{
	cursor:pointer;
	border-radius:10px
}

#photoPr{
	display: none;
}

.photos-container{
	width:100%
}

.add-photos-canvas{
	display: inline-block
}

.loading-verif-ctr{
	display: none;
	text-align: center
}

#ajx_message{
    margin-top: 10px;
	display: block;
	font-size: 115%;
	font-weight: 500
}

.verif-info-section{
	margin-bottom: 70px
}

#overlayAjaxLoading, #overlayLoadingPage, #overlayAjaxError {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: 1s 0.4s;
}

#overlayAjaxLoading{
    display: none
}

#overlayLoadingPage {
    background: rgba(0, 0, 0, 1);
}

#overlayAjaxError{
    display: none;
    height: 0;
    top: 50%;
    margin-top: -40px;
}

.progstatContent {
    -wbekit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    width: 100%;
    text-align: center;
}

#popupSound{
    display: none
}

.error-text-ctr{
    padding: 25px 20px;
    background-color: #333;
    text-align: center;
    color: #fff;
    width: 25%;
    margin: 0 auto;
    opacity: .8
}

#commandeTele{
    color: #236cd9;
}

.show-tele-number{
    font-size: 120%;
    font-weight: 500;
    margin: 20px
}

#changerTeleBtnToggle, #changerTeleBtn{
    padding: 10px 20px;
    background: #86b5ea;
    color: #fff;
    border-radius: 5px;
}

#changerTeleBtn{
    padding: 10px 30px
}

#changerTeleBtnToggle > i {
    font-size: 125%;
    margin-left: 10px;
}

.changetele-overlay {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(69, 69, 69, 0.8);
    transition: 1s 0.4s;
}

.changetele-overlay-content {
    position: fixed;
    width: 550px;
    background-color: #fff;
    padding: 30px;
    border-radius: 7px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -275px;
}


.changetele-overlay-items label {
    font-weight: 500;
    color: #333
}

.changetele-overlay-items input {
    padding: 8px 20px;
    margin: 0 10px;
    border: 1px solid #ddd;
    width: 60%
}

.changetele-overlay-items button,
.changetele-overlay-items input {
    margin-top: 10px !important;
    display: block;
    margin: 0 auto
}

.changetele-msg-invalide {
    color: #e6464c;
    font-size: 80%;
}

.changetele-msg-success {
    color: #5cb85c;
    font-size: 100%;
}

.changeTele-overlay-close {
    position: absolute;
    top: 7px;
    right: 10px;
}

.changeTele-overlay-close button {
    font-size: 125%
}

#changerTeleBtn {
    background-color: var(--dark-red-color);
}

#ajaxErrorText{
    font-weight: 500
}

.btn-info-client, .btn-info-articles{
    padding: 5px 2px 3px 0px;
    margin-left: 10px;
}

#infoClientMDL .form-group{
    margin-bottom: .5rem!important;
}

#infoClientMDL input[class="form-control"]{
    padding: 0 10px !important;
    font-size: 105%
}

#infoClientMDL input[readonly], #infoClientMDL textarea{
    background-color: #fff !important;
}

.client-stat{
    text-align: center;
}

select[id='question']{
    margin-top: 4px;
}

label[for='question']{
    display: block;
}

.profile-securite{
    clear: both;
    padding-top: 25px;
}

.profile-securite > .col-12{
    padding: 10px
}

.profile-details{
    overflow: hidden
}

.profile-btns{
    clear: both;
}

.valid-msg-success{
    color: var(--green-color);
    font-weight: 500
}

.valid-msg-error{
    color: var(--dark-red-color);
    font-weight: 500
}

.cart-image{
    float: left;
    margin: 0 15px;
    max-width: 100%
}

.cart-description-product{
    width: 40%;
    max-width: 480px
}

.dt-commandes td{
    padding: 10px!important;
    vertical-align: middle!important
}

.cart-id{
    background-color: #f7f7f7;
    font-weight: 500
}

.cart-status-delivered{
    background-color: var(--green-color);
}

.cart-status-refused{
    background-color: var(--red-color);
}

.cart-status-canceled{
    background-color: #b3b3b3;
}

.cart-status-approval{
    background-color: #4184c8;
}

.cart-status-text{
    padding: 6px 15px;
    color: #fff;
    font-weight: 500;
    border-radius: 0.25rem;
    font-size: 85%;
}

.cart-image-ctr{
    float: left;
    width: 100px;
}

.cart-description, .cart-color{
    display: block;
    overflow: hidden;
    padding: 10px;
    font-weight: 500
}

.cart-color{
    color: #999
}

.commande-th-head{
    text-align: left!important;
    position: relative
}

.commande-supp-ctr{
    position: absolute;
    right: 0;
    display: inline-block;
    margin-right: 1.2rem
}

.commande-supp-btn{
    color: #999;
    text-decoration: underline;
    font-size: 90%;
    font-weight: 500
}

.cart-total-amount, .cart-quantite{
    width: 10%;
}

.total-amount, .cart-quantite-text, .delivery-type-text{
    font-size: 120%
}

.cart-status, .cart-operation{
    width: 15%;
}

.delivery-type{
    width: 12%;
}

.commande-no-ctr, .commande-date-ctr{
    display: inline-block
}

.commande-no-ctr{
    font-weight: 500
}

.commande-date-ctr{
    margin-left: 10px;
    color: #999;
    font-weight: 400
}

.dt-order {
    background-color: #333;
    color: #fff;
}

.dt-order th{
    font-weight: 500!important;
    padding: 12px!important;
    border: none!important
}

.dt-commandes-tbody{
    font-weight: 500
}
.dt-commandes-tbody td{
    border: 1px solid #eee !important
}

.dt-commandes-thead{
    background-color: #f7f7f7
}

.dt-commandes-thead th{
    border-bottom: none!important
}

.cart-color-icon{
    margin-right: 4px
}

.dt-commandes{
    overflow-x: auto;
    box-shadow: 0 0 4px 1px #eee
}

.dt-commandes button {
    border-radius: 3px
}

.refuse-second-action{
    margin-top: 5px
}

.refused-order-row{
    background-color: #f9f9f9!important;
    color: #4f4b4b;
}

.refuse-second-action{
    color: #545454;
    font-weight: 400;
    text-decoration: underline
}

.cancel-order, .re-order{
    padding: 6px 18px!important
}

.empty-order-ctr{
    display: none;
    text-align : center;
    margin: 25px;
}

.empty-order-text{
    font-weight: 500;
    font-size: 95%;    
    color: var(--blue-idx);
}

.lg-rg-btn-primary{
    background-color:#0083ff!important
}

.rec-pass-link{
    text-decoration: underline;
    color: #545454;
    font-size: 85%;
    font-weight: 500;
}

.email-rec-error{
    color: var(--red-color);
    font-size: 75%
}

.email-rec-success{
    color: var(--green-color);
    font-size: 80%
}

.rein-password-ctr .form-group:not(:last-child){
    margin-bottom: 0!important
}

.overlay-msg-ctr {
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.msg-ctr {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    width: 50%;
    right: 25%;
    padding: 10px;
    border-radius: 10px;
    animation: changeteleOverlayAnim .2s linear;
}

.msg-image {
    float: left;
    padding: 30px 15px
}

.msg-text-ctr {
    padding: 20px;
    overflow: hidden
}

.msg-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
}

.msg-close-btn{
    font-size: 120%;
    color: #999;
    cursor: pointer
}

.email-verif-status{
    font-weight: 500;
    opacity: .6;
}

.email-status-success{
    background-color: var(--green-color);
    color: #fff;
    padding: 10px;
}

.email-status-failed{
    background-color: var(--red-color);
    color: #fff;
    padding: 10px;
}

.anchor-btn:hover{
    color: initial;
    text-decoration: none;
}

.supp-image{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 7px
}

.supp-image-btn{
    color: #999;
    cursor: pointer
}

#dt_commentaires{
    width: auto!important
}

.count-comm{
    font-size: 125%;
    margin: 0 3px
}

.purchace-popup .purchase-button{
  border: 1px solid #eee
}

.preview-subject{
  font-size: 100%!important
}

.btn-verifie-email{
  color: #333;
  margin: 10px;
  text-decoration: underline
}

.font-100{
    font-size: 100%!important
}

.font-115{
    font-size: 115%!important
}

.blue-sky{
    color: #1083ac;
}

.stat-success{
    color: #25d57e
}

.side-right div {
    text-align: right
}

.aucun-commentaire-msg{
    font-size: 90% 
}

.prd-avail-stock{
    padding: 5px 10px;
    color: #fff!important;
    background: #23ef82;
}

.prd-avail-rapture{
    padding: 5px 10px;
    color: #fff!important;
    background: #f2701e;
}

.new-product-badge{
    padding: 4px 10px;
    background-color: var(--dark-red-color);
    color: #fff;
    border-radius: 5px;
    font-size: 90%;
    font-weight: 900;
}

.notification-li{
    cursor: pointer
}

.form-in-blk{
    display: inline-block
}

.form-in-blk > label{
    padding-left: 15px!important
}

#warningLabel{
    color: #d96d30;
    word-spacing: 5px
}

#dt_articles_comm .dataTables_empty {
    color: #de8787!important;
    font-size: 95%;
    padding: 25px;
    font-weight: 500;
}

.comm-refused-msg{
    display: inline-block;
    padding-top: 10px;
    color: #db4747;
    font-size: 13px
}

.scroll-top-div {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 9999
}

.scroll-top-body {
    display: none;
    opacity: .8;
    padding: 2px 12px;
    color: #fff;
    background-color: #D10024;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer
}

#dt_articles_comm td img{
    width: 50px!important;
    height: 45px!important;
    border-radius: 0!important
}

.laoding-prd-image{
    padding-top: 5%
}

.aucun-res-ctr{
    text-align: center;
    padding-top: 5%
}